.logoText{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:oblique;
    color:#9fc4c6;
    font-size: 200%;
    text-shadow:2px 2px 2px cadetblue , 3px 3px 3px gray;
    ;
}

.title{
    margin-top: 5%;
    margin-bottom: 5%;

}

.subhead{
    margin-bottom: 5%;

}

